<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragment/header :: header"></head>
<body>

<div th:replace="fragment/navbar :: navbar"></div>
<section class="section-carasoul">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Karnala1.png" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="/img/Karnala2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="/img/Karnala3.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</section>
<section class="intro-section">
    <h1 class="text-center new-h2">SPORTS CLUB</h1>


    <p>
        Every dream needs to be driven by passion to make it come true. Sports Club is one such dream, formed by keeping
        sheer passion for
        the gentleman's game-Cricket.
        Sports Club was conceived by a group of people headed by Chinubhai Chimanbhai; the then Mayor and
        leading businessman from Mumbai in 1965.

    </p>
</section>
<section class="history-section">
    <h1 class="text-center new-h2">History</h1>
    <p>
        The Sports Club gets its flamboyant and elegant design in the heart of city from the renowned architect Charles
        Correa who also
        happens to be the designer of the soulful Gandhi Ashram. With a beautiful design and sprawling space; Sports
        Club has gradually
        spread its branches for other sports and has become an epitome of entertainment and leisure in the thriving city
        of Mumbai.
        Today, Sports Club is one of the most regal clubs of Mumbai and renowned for its state of the art amenities and
        splendid aura.
    </p>

</section>

<div th:replace="fragment/footer :: footer"></div>
</body>
</html>